@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
:root {
    --color1 : #82ca9c;
    --sans : 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
}
/* nav start */
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: .4s;
}
nav img {
    margin: 30px 0;
}
.fixed_menu {
    background: #000;
}
/* nav end */
/* banner start */
.banner_part {
    margin-top: -98px;
    padding: 450px 0;
    background: url(../img/banr_bg.png) no-repeat center;
    background-size: cover;
}
.banner_part h2{
    font-family: var(--sans);
    font-size: 60px;
    font-weight: 300;
}
.banner_part p{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 472px;
}
/* banner end */
/* about start */
.about_part {
    margin-top: -90px;
}
.about_part h2{
    font-size: 35px;
    font-weight: 300;
    color: #222626;
}
.about_part p{
    color: #959599;
}
.about_con_rignt {
    display: block;
    padding-top: 137px;
}
/* about end */
/* details start */
.details_part {
    padding: 0;
}
.details_con {
    padding: 50px 25px;
}
.details_design {
    background: #f5989d;
}
.details_built {
    background: #615f7d;
}
.details_claints{
    background: url(../img/service.png) no-repeat center;
    background-size: cover;
}
.details_sing {
    background: url(../img/details.png) no-repeat center;
    background-size: cover;
}
.details_sing .si{
    width: 482px;
}
.details_sing .btn p{
    margin-top: 60px;
}
.details_pra{
    background: #82ca9c;
}

.details_con h2 {
    font-size: 30px;
    font-weight: 300;
}
.details_con p{
    margin: 30px 40px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.details_con .btn {
    color: white;
    padding: 0;
}
.details_con .btn p{
    font-size: 16px;
    font-weight: 700;
}
.details_con .btn a{
    color: #fff;
    margin-left: 10px;
}
/* details end */
/* bettom start */
.bottom_part{
    padding-bottom: 40px;
}
.bottom_part .title h2{
    font-size: 35px;
    font-weight: 300;
    color: #222626;
}
.bottom_con h3{
    font-size: 14px;
    font-weight: 700;
    color: #67676d;
}
.bottom_con p{
    line-height: 35px;
    color: #959595;
}
/* bettom end */
/* full_img_part */
.full_img_part{
    background: url(../img/full-img.png) no-repeat center;
    background-size: cover;
}
.full_img_part{
    padding-bottom: 100px;
}
.full_img_con h2{
    padding-top: 60%;
    font-size: 72px;
    font-weight: 300;
}
.full_img_con p{
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}
.full_img_con .btn p{
    font-weight: 700;
}
.full_img_con .btn a{
    color: white;
    margin-left: 15px;
}
/* resons strat */
.resons_part {
    padding: 150px;
    background: #82ca9c;
}
.resons_part h2 {
    font-size: 35px;
    font-weight: 300;
}
.resons_con h3{
    padding-top: 60px;
    font-size: 16px;
    font-weight: 700;
}
.resons_con p{
    line-height: 30px;
}
/* resons end */
/* plan start */
.plan_part {
    padding: 100px;
    background: #f6f7fa;
}
.plan_con{
    background: #fff;
    padding: 40px;
    transition: .3s;
}
.plan_con:hover {
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}
.plan_con h5 {
    font-size: 18px;
    font-weight: 800;
    background: #e1e1e1;
    border: 0;
    border-radius: 5px;
    transition: .3s;
}
.plan_con:hover h5{
    background: #bd8cbf;
}
.plan_con h2 {
    font-size: 30.4px;
    font-weight: 400;
    color: #2e3b4e;
}
.plan_con p {
    font-size: 16px;
    color: #91a4b2;
    width: 496px;
}
.plan_con .btn a{
    background: #82ca9c;
    border: 0;
    border-radius: 5px;
}
.plan_con .icon i{
    color: #cbcbcb;
    font-size: 25px;
    margin-right: 15px;
}
/* plan end */
/* footer start */
.footer_part{
    padding: 100px;
    background: #192431;
}
.footer_con p{
    width: 614px;
    font-size: 14px;
    font-weight: 400;
}
.footer_con .ri{
    color: #bbc1c9;
    width: 400px;
}
.footer_con .shap{
    display: flex;
    text-align: right;
    justify-content: right;
    background: white;
}
.footer_con .shap i{
    text-align: right;
    width: 60px;
    height: 60px;
    background: #82ca9c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.foot_btm_con {
    margin-right: 80px;
}
.foot_btm_con h2{
    font-size: 14px;
    font-weight: 700;
}
.foot_btm_con ul li{
    padding: 5px 0;
}
/* footer end */